<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/mjhiremath/TWs/workshop">
        <classes>
            <class name="workshop.GetTest">
                <methods>
                    <include name="verifyListUserResponseTime"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>